@{
    ViewData["Title"] = "Gestion Zezika";
}

<div class="text-center">
    <h2>Gestion Zezika</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="AjoutZezika">Ajouter Zezika sur un Parcelle</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="Depense">Voir Dépense Zezika</a></li>
    </ul>
</div>